@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

@import '@fontsource/lexend';
@import '@fontsource/titillium-web';
@import '@fontsource/teko';
@import '@fontsource/play';
@import '@fontsource/roboto';
@import '@fontsource/strait';

#loading_div,
#error_div {
    @apply min-h-screen bg-gradient-to-br from-white via-gray-300 to-white text-3xl font-semibold;
}

#loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #1d4ed8;
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes l3 {
    to {
        transform: translate(-50%, -50%) rotate(1turn);
    }
}

#error {
    @apply w-auto text-center flex items-center justify-center rounded-md shadow-sm border-2 border-red-500 bg-gradient-to-br from-red-300 to-red-100 py-10 px-16;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
